<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="gradient-text">{{title}}
            <p class="lead"></p>
          </h1>
        </div>
       
      </div> 
    </div>
  
    
  </div>
  
  
  <div class="container" >
    <div class="row" >
      
      <div class="col-md-12" class="trial" style="background-color: rgba(61, 61, 59, 0.651);" > 
        
        <div class="panel" >
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center" >
              </div>
              <div  class="col-md-10 col-sm-9" class="new">
                <h1 style="font-family: 'Style Script', cursive;" style="font-size: xx-large;" >Welcome to the world of Books</h1>
                <h2 style="font-family: 'Style Script', cursive;" > “.... A mind needs books as a sword needs a whetstone, if it is to keep its edge.” ― George R.R. Martin</h2>
                <div class="row">
                  <div class="col-xs-9">
                   
                  </div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div>
            </div>
           
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
 <br>
<div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>

<footer>
    <div class="container" style="text-align: center;">
      <div class="row">
              <div class="col-sm-6">
                <p class="pull-right">MEAN App </p>        
    
        </div>
      </div>
    </div>
  </footer>
              
