<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="gradient-text">{{title}}
            <p class="lead"></p>
          </h1>
        </div>
       
      </div> 
    </div>
  
    
  </div>

<div class="container" style="margin-top: 20px;">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            
            <div class="row" *ngFor='let i of books'>    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" ><img alt="" [src]="i.image" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9" >
                <h3>{{i.title}}</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4><span class="label label-default">{{i.author}}</span></h4><h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">{{i.image}}
                      <a style="cursor: pointer;" (click)="viewBook(i)" class="text-muted"> • Read More</a></small>
                    </h4></div>
                  <div class="col-xs-3">
                    <a style="margin: 5px;" (click)="edit(i)" *ngIf='auth.loggedAdmin()' class="btn btn-primary pull-right btnNext">Edit </a>
                    <a style="margin: 5px;"  (click)="delete(i)" *ngIf='auth.loggedAdmin()' class="btn btn-primary pull-right btnNext">Delete </a>
        
                  </div>
                </div>
                <br><br>
              </div>
            </div>
            <hr>
          
    
            <!--/stories-->
            
            <!-- <a (click)='redirect()' class="btn btn-primary pull-right btnNext">Top </a> -->
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
         <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
         <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>

<footer>
    <div class="container" style="text-align: center;">
      <div class="row">
              <div class="col-sm-6">
                <p class="pull-right">MEAN App </p>        
 
        </div>
      </div>
    </div>
  </footer>
              